<footer id="contatos">
  <div class="footer-grid">
    <!-- Linha Superior: Patrocínio, Apoio, Realização -->
    <div class="footer-row">
      <!-- Coluna 1: Patrocínio -->
      <div class="footer-column">
        <h4>Realização</h4>
        <div class="logos">
          <img src="{{asset "images/logopreto.png"}}"alt="Logo 1" class="logos-1">
          <img src="{{asset "images/fapesqq.png"}}" alt="Logo 2" class="logos-2">
        </div>
      </div>


      <!-- Coluna 2: Links Relacionados -->
      <div class="footer-column">
        <h4>Links Relacionados</h4>
        <ul>
          <li><a
              href="https://paraiba.pb.gov.br/diretas/secretaria-da-ciencia-tecnologia-inovacao-e-ensino-superior">Portal
              da SECTIES</a></li>
        </ul>
      </div>

      <!-- Coluna 3: Contatos -->
      <div class="footer-column">
        <h4>Contatos</h4>
        <ul class="social-icons" id="social-icons">
          <!-- Os ícones de redes sociais serão inseridos aqui via script -->
        </ul>
      </div>



    </div>

    <!-- Linha Inferior: Secretaria, Links Relacionados, Contatos -->
    <div class="footer-row">
      <!-- Coluna 1: Secretaria -->
      <div class="footer-column">
        <p><strong>SECRETARIA DA CIÊNCIA, TECNOLOGIA, INOVAÇÃO E ENSINO SUPERIOR</strong></p>
        <p>AV. JOÃO DA MATA, 200 - JAGUARIBE</p>
        <p>JOÃO PESSOA - PB, CEP: 58015-020</p>
      </div>
    </div>
  </div>
  </div>
</footer>