<footer id="contatos">
  <div class="footer-grid">

    <!-- Linha Superior -->
    <div class="footer-row">
      <!-- Coluna 1: Realização -->
      <div class="footer-column">
        <h4 data-i18n="footer_realizacao">Realização</h4>
        <div class="logos">
          <img src="{{asset "images/logopreto.png"}}" alt="Logo 1" class="logos-1">
          <img src="{{asset "images/fapesqq.png"}}" alt="Logo 2" class="logos-2">
        </div>
      </div>

      <!-- Coluna 2: Links Relacionados -->
      <div class="footer-column">
        <h4 data-i18n="footer_links">Links Relacionados</h4>
        <ul>
          <li>
            <a href="https://paraiba.pb.gov.br/diretas/secretaria-da-ciencia-tecnologia-inovacao-e-ensino-superior" data-i18n="footer_portal">
              Portal da SECTIES
            </a>
          </li>
        </ul>
      </div>

      <!-- Coluna 3: Contatos -->
      <div class="footer-column">
        <h4 data-i18n="footer_contacts">Contatos</h4>
        <ul class="social-icons" id="social-icons">
          <!-- Ícones via script -->
        </ul>
      </div>
    </div>

    <!-- Linha Inferior -->
    <div class="footer-row">
      <div class="footer-column">
        <p><strong data-i18n="footer_secretaria_nome">SECRETARIA DA CIÊNCIA, TECNOLOGIA, INOVAÇÃO E ENSINO SUPERIOR</strong></p>
        <p data-i18n="footer_endereco_1">AV. JOÃO DA MATA, 200 - JAGUARIBE</p>
        <p data-i18n="footer_endereco_2">JOÃO PESSOA - PB, CEP: 58015-020</p>
      </div>
    </div>

  </div>
</footer>
