<section class="gallery-section">
  <div class="gallery-container">
    <div class="via-card-desafios">
      <div class="via-grid-card-desafios">
        <!-- Itens da galeria -->
        <div class="via-card-borda-container">
          <div class="via-card-borda"></div>
          <div class="via-card-borda-text">
            <h3 class="via-title-card-borda"><strong>Mudança <br>de Cultura</strong></h3>
          </div>
        </div>
        <div class="via-card-borda-container">
          <div class="via-card-borda"></div>
          <div class="via-card-borda-text">
            <h3 class="via-title-card-borda"><strong>Capacitação e <br>treinamentos</strong></h3>
          </div>
        </div>
        <div class="via-card-borda-container">
          <div class="via-card-borda"></div>
          <div class="via-card-borda-text">
            <h3 class="via-title-card-borda"><strong>Upskilling e <br>Reskilling</strong></h3>
          </div>
        </div>
        <!-- Adicione mais itens conforme necessário -->
      </div>
    </div>

    <!-- Repetindo os itens para o loop infinito -->
    <div class="via-card-desafios">
      <div class="via-grid-card-desafios">
        <div class="via-card-borda-container">
          <div class="via-card-borda"></div>
          <div class="via-card-borda-text">
            <h3 class="via-title-card-borda"><strong>Mudança <br>de Cultura</strong></h3>
          </div>
        </div>
        <div class="via-card-borda-container">
          <div class="via-card-borda"></div>
          <div class="via-card-borda-text">
            <h3 class="via-title-card-borda"><strong>Capacitação e <br>treinamentos</strong></h3>
          </div>
        </div>
        <div class="via-card-borda-container">
          <div class="via-card-borda"></div>
          <div class="via-card-borda-text">
            <h3 class="via-title-card-borda"><strong>Upskilling e <br>Reskilling</strong></h3>
          </div>
        </div>
        <!-- Adicione mais itens conforme necessário -->
      </div>
    </div>
  </div>
</section>
