<section class="hero-section">
  <div class="hero-overlay"></div>

  <div class="hero-content">
    <img 
      src="{{asset "images/devname.png"}}" 
      alt="Circuito Game Dev Quest" 
      class="hero-logo"
    />
    <p>Impulsionando a indústria de jogos indie na Paraíba</p>
  </div>
</section>
