<section class="accordion-section">
  <div class="accordion-container">

    <!-- TÍTULO EM IMAGEM -->
    <div class="accordion-title">
      <img src="{{asset 'images/cronogramatitle.png'}}" alt="Título da Seção" />
    </div>

    <!-- ACORDEÃO -->
    <div class="accordion-item">
      <button class="accordion-toggle">Etapas</button>
      <div class="accordion-content">
        <div class="accordion-card">
          <p>Conteúdo detalhado da Etapa 1.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <button class="accordion-toggle">Fase 1</button>
      <div class="accordion-content">
        <div class="accordion-card">
          <p>Conteúdo detalhado da Fase 2.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <button class="accordion-toggle">Fase 2</button>
      <div class="accordion-content">
        <div class="accordion-card">
          <p>Conteúdo detalhado da Etapa 3.</p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <button class="accordion-toggle">Fase 3</button>
      <div class="accordion-content">
        <div class="accordion-card">
          <p>Conteúdo detalhado da Etapa 3.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{asset 'js/schedule.js'}}"></script>
