{{#if @custom.teamssection_button}}

<section class="teams-section">
  <h2 class="teams-title" data-i18n="teams_title">Evolução das Startups</h2>
  <p class="teams-subtitle" data-i18n="teams_subtitle">Veja Como as Startups Estão Avançando no Circuito Game Dev Quest
  </p>

  <div class="teams-row">

    {{#get "posts" filter="tag:fase" limit="all" order="published_at asc"}}
    {{#foreach posts}}
    <a href="{{url}}" class="teams-card-container">
      <div class="teams-card-bg" style="background-image: url('{{feature_image}}');"></div>
      <div class="teams-card-text">
        <h3 class="teams-card-title">
          <strong>{{title}}</strong>
        </h3>
        <p class="teams-card-desc">{{custom_excerpt}}</p>
      </div>
    </a>
    {{/foreach}}
    {{/get}}

  </div>
</section>

{{/if}}