<section class="dashboard-section">
    <div class="dashboard-container">
            <img src="{{asset 'images/bg.png'}}" alt="Ãcone do projeto" class="dashboard-image">
    </div>

    <div class="dashboard-card">
    </div>
    </div>
</section>