{{!< default}} <section class="cardholders-section">
  <div class="cardholders-card">
    <div class="cardholders-content">
      <div class="cardholders-image">
        <img src="{{asset 'images/photostudent.png'}}" alt="Bolsista">
        <div class="icon-overlay">
          <img src="{{asset 'images/imgpassaport.png'}}" alt="Ícone passaporte">
        </div>
      </div>
      <div class="cardholders-info">
        <h3>Ana Luiza Ferreira Cavalcante</h3>
        <ul>
          <li> IES de origem: Universidade Federal de Campina Grande;</li>
          <li> Curso de origem: Engenharia de Biotecnologia e Bioprocessos;</li>
          <li> IES de destino: Mondragon Unibertsitatea;</li>
          <li> Curso de destino: Eco-technology in Industrial Processes (Green Manufacturing);</li>
          <li> Período de intercâmbio: 07 de setembro de 2024 a 07 de janeiro de 2025;</li>
          <li> Recursos recebidos: € 7.800,00 + R$ 7.000,00;</li>
        </ul>
        <button class="cardholders-button">Acesso ao produto educional</button>
      </div>
    </div>
  </div>
  </section>