{{!< default}} 

<section class="holders-section">
  <h2 class="section-title">Bolsistas</h2>

  <div class="holders-card">
    
    <h3 class="holders-title">Edital n.º 09/2024 - Graduação (Mondragon Unibertsitatea)</h3>
    <div class="holders-list">
      <a href="http://localhost:2370/cardholders/" class="holders-item">Estudante 1 ......................</a>
      <a href="http://localhost:2370/cardholders/" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>

    </div>
  </div>

  <div class="holders-card">
    <h3 class="holders-title">Edital n.º 10/2024 - Graduação (Warwickshire College)</h3>
    <div class="holders-list">
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
    </div>
  </div>

  <div class="holders-card">
    <h3 class="holders-title"> Edital n.º 11/2024 - Mestrado Sanduíche e Doutorado Sanduíche</h3>
    <div class="holders-list">
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>
      <a href="#" class="holders-item">Estudante 3 ......................</a>
      <a href="#" class="holders-item">Estudante 1 ......................</a>
      <a href="#" class="holders-item">Estudante 4 ......................</a>




    </div>
  </div>
  </section>